[Unit]
Description=IPFS daemon
After=local-fs.target

[Service]
ExecStart=/usr/bin/ipfs daemon
WorkingDirectory=/opt/ipfs
User=ipfs
Group=ipfs
Nice=19
Restart=always

[Install]
WantedBy=basic.target
